<div class="header">
  <%= link_to root_path do %>
    <%= image_tag("TopHouse_Title.png")  %>
  <% end %>
</div>

<div class="icons_sidebar">
  <%= link_to('https://www.youtube.com/channel/UC65VqSfrkeu5EgZKqhiqvgQ', target: :_blank) do %>
    <%= fa_icon "youtube"  %>
  <% end %>

  <%= link_to('https://www.facebook.com/tophousetheband/', target: :_blank) do %>
    <%= fa_icon "facebook-square"  %>
  <% end %>

  <%= link_to('https://www.instagram.com/tophousetheband/?hl=en', target: :_blank) do  %>
    <%= fa_icon "instagram"  %>
  <% end %>

  <%= link_to('https://twitter.com/tophousetheband', target: :_blank) do %>
    <%= fa_icon "twitter"  %>
  <% end %>
</div>

<div class="centered_content">
  <h1 id="subtitle">About</h1>
</div>

<div class="space_maker"></div>

<div class="about_tophouse">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quidem adipisci corporis incidunt, autem error voluptas eveniet inventore eius officiis rem aliquam ex placeat magni fugit! Fugiat sed dicta quidem, repellendus enim. Aliquid dignissimos, iusto nisi laboriosam consequuntur molestiae reprehenderit dolorum sapiente aspernatur similique officiis earum voluptatum adipisci, officia quas illo non labore recusandae natus vel at perferendis. Exercitationem tempora quibusdam vero recusandae praesentium, ut, incidunt, placeat assumenda obcaecati maiores facere amet excepturi tenetur consequuntur cumque et nam ipsa earum.</p>
</div>

<div class="space_maker"></div>

<div class="bios container-fluid">
  <div class="row">
    <div class="bio_card col-md-4">
      <h1>Jesse Davis</h1>
      <h3>Guitar, Mandolin, Percussion, Vocals</h3>
      <p>Growing up, classic rock was a major influence in my life. With the likes of Black Sabbath, The Eagles, Bob Seger, Queen, Lynard Skynard, Def Leppard, and countless others filling my repertoire as a young guitarist, my parents must've thought it only a matter of time before I'd start letting my hair grow ragged and covering my body with tatoos. Such was not the case however. As my study of the guitar progressed, I found myself entranced by the feeling of having my ear perched just near the soundhole, and my body pressed tightly against the warmly resonant body of an acoustic guitar. That feeling alone was all the drugs, sex, and rock n' roll I'd needed to push me into a life of music.</p>
    </div>


    <div class="bio_card col-md-4">
      <h1>Joseph Larson</h1>
      <h3>Lead Vocals, Guitar, Banjo, Percussion</h3>
      <p>My real friends call me "Peaty". I've always played guitar since I realized how good it is for you! Banjos are OK too. Music has always been like a sort of pretty energy castle drawbridge protecting my chakra from of the dark forces of negative energy, ya know? Strange people will try to take your music from ya, you know, get you down. My advice? Keep being yourself, follow through on your heart, and play a little Battlefield 1 with a glass of tepid prune juice.</p>
    </div>


    <div class="bio_card col-md-4">
      <h1>William Cook</h1>
      <h3>Violin, Vocals, Percussion</h3>
      <p>I am a classical and improvisational violinist as well as a research assistant and graduate student in the University of Montana's Computer Science department. I got my start as a classical in my hometown of Butte in the third grade. As I grew older I realized my real musical passion lies in improvisation. After playing with the Butte Symphony and a few bands I moved to Missoula to continue my music in college. This forced me to take my music to the next level. In addition to partnering with Jesse and Joe in TopHouse I serve as Assistant Concertmaster for the Missoula Symphony and can be seen playing in various classical ensembles throughout the state!</p>
    </div>
  </div>
</div>

<div class="space_maker"></div>
