<div class="header">
  <%= link_to root_path do %>
    <%= image_tag("TopHouse_Title.png")  %>
  <% end %>
</div>

<div class="icons_sidebar">
  <%= link_to('https://www.youtube.com/channel/UC65VqSfrkeu5EgZKqhiqvgQ', target: :_blank) do %>
    <%= fa_icon "youtube"  %>
  <% end %>

  <%= link_to('https://www.facebook.com/tophousetheband/', target: :_blank) do %>
    <%= fa_icon "facebook-square"  %>
  <% end %>

  <%= link_to('https://www.instagram.com/tophousetheband/?hl=en', target: :_blank) do  %>
    <%= fa_icon "instagram"  %>
  <% end %>

  <%= link_to('https://twitter.com/tophousetheband', target: :_blank) do %>
    <%= fa_icon "twitter"  %>
  <% end %>
</div>

<div class="centered_content">
  <h1 id="subtitle">About</h1>
</div>

<div class=bios>
  <div class=bio_card>
    <h1>Jesse Davis</h1>
    <h3>Guitar, Mandolin, Bass, Percussion, Vocals</h3>
    <p>Growing up, classic rock was a major influence in my life. With the likes of Black Sabbath, The Eagles, Bob Seger, Queen, Lynard Skynard, Def Leppard, and countless others filling my repertoire as a young guitarist, my parents must've thought it only a matter of time before I'd start letting my hair grow ragged and covering my body with tatoos. Such was not the case however. As my study of the guitar progressed, I found myself entranced by the feeling of having my ear perched just near the soundhole, and my body pressed tightly against the warmly resonant body of an acoustic guitar. That feeling alone was all the drugs, sex, and rock n' roll I'd needed to push me into a life of music.

    Along the way, I absorbed new sounds and styles that I'd never heard outside of my tightly encapsulated classic rock bubble. I still remember watching the first Pirates of the Caribbean movie. A chill flooded down my spine as the score soared magestically through the air in our living room and swirled around my head, filling my chest and capturing a sense of unfilterd excitement. Each time I watch that movie I can't help but feel a bit of nostalgia. It wouldn't be until some time later that I would realize my passion for film scores and pursue a degree in Music Composition at the University of Montana.
    </p>
  </div>


  <div class=bio_card>
    <h1>Joseph Larson</h1>
    <h3>Lead Vocals, Guitar, Banjo, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iusto aspernatur a quas, qui quaerat!</p>
  </div>


  <div class=bio_card>
    <h1>William Cook</h1>
    <h3>Violin, Vocals, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>

