<div class="header">
  <%= link_to root_path do %>
    <%= image_tag("TopHouse_Title.png")  %>
  <% end %>
</div>

<div class="icons_sidebar">
  <%= link_to('https://www.youtube.com/channel/UC65VqSfrkeu5EgZKqhiqvgQ', target: :_blank) do %>
    <%= fa_icon "youtube"  %>
  <% end %>

  <%= link_to('https://www.facebook.com/tophousetheband/', target: :_blank) do %>
    <%= fa_icon "facebook-square"  %>
  <% end %>

  <%= link_to('https://www.instagram.com/tophousetheband/?hl=en', target: :_blank) do  %>
    <%= fa_icon "instagram"  %>
  <% end %>

  <%= link_to('https://twitter.com/tophousetheband', target: :_blank) do %>
    <%= fa_icon "twitter"  %>
  <% end %>
</div>

<div class="centered_content">
  <h1 id="subtitle">About</h1>
</div>

<div class=bios>
  <div class=bio_card>
    <h1>Jesse Davis</h1>
    <h3>Guitar, Mandolin, Percussion, Vocals</h3>
    <p>Growing up, classic rock was a major influence in my life. With the likes of Black Sabbath, The Eagles, Bob Seger, Queen, Lynard Skynard, Def Leppard, and countless others filling my repertoire as a young guitarist, my parents must've thought it only a matter of time before I'd start letting my hair grow ragged and covering my body with tatoos. Such was not the case however. As my study of the guitar progressed, I found myself entranced by the feeling of having my ear perched just near the soundhole, and my body pressed tightly against the warmly resonant body of an acoustic guitar. That feeling alone was all the drugs, sex, and rock n' roll I'd needed to push me into a life of music.</p>
  </div>


  <div class=bio_card>
    <h1>Joseph Larson</h1>
    <h3>Lead Vocals, Guitar, Banjo, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos reprehenderit ea, velit asperiores fugiat distinctio. Ut illum rerum, dicta hic eligendi repellat repellendus! Officiis corporis, cum obcaecati eaque tempore aut. Deserunt excepturi est consectetur alias quidem incidunt eaque tempore culpa, consequuntur ab recusandae, ducimus, corporis nam optio rem facere ipsum possimus voluptas, nemo consequatur. Velit, voluptas assumenda. Nulla ex et iure, voluptate maxime deserunt illum soluta possimus, obcaecati quis repellendus!</p>
  </div>


  <div class=bio_card>
    <h1>William Cook</h1>
    <h3>Violin, Vocals, Percussion</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ducimus quisquam nam commodi labore, officiis nesciunt incidunt eum blanditiis corrupti repudiandae vero enim voluptatibus sint. Dolores nostrum, voluptatum tenetur quae quibusdam blanditiis vitae obcaecati. Vel esse voluptatem, accusamus autem nihil inventore ullam quia ipsam iusto, exercitationem, veritatis corrupti dolorum quod? Dolore quaerat dolores neque earum sint modi blanditiis, iste accusamus.</p>
  </div>
</div>

