<div class="homepage_container">
  <div class="header">
    <%= image_tag("TopHouse_Title.png")  %>
  </div>

  <div class="space_maker"></div>

  <div class="homepage_body">

    <%= link_to music_path, class: "pics" do %>
      <div>
        <h1 class="homepage_link_word">Music</h1>
        <%= image_tag("TopHouse_Jesse.png")  %>
      </div>
    <% end %>


    <%= link_to shows_path, class: "pics" do  %>
      <div>
        <h1 class="homepage_link_word">Shows</h1>
        <%= image_tag("TopHouse_Joe.png")  %>
      </div>
    <% end %>

    <%= link_to about_path, class: "pics" do  %>
      <div>
        <h1 class="homepage_link_word">About</h1>
        <%= image_tag("TopHouse_William.png")  %>
      </div>
    <% end %>
  </div>


  <!-- <div class="all_news">
    <h3>News</h3>
    <div class="an_event">
      <p>This is where, perhaps someday, we will have important things to talk about such as: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit magni maxime dolor cumque, eveniet vero provident illum! Consequatur eaque, fuga quos corporis tempora molestiae quo!</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti officiis quaerat obcaecati aliquam expedita veniam architecto officia commodi accusamus suscipit. Fuga quo ipsa perspiciatis saepe aut repellendus asperiores, eaque sed?</p>
    </div> -->

  </div>
</div>
